.info {
	width: $width-info;
	top: ($header-height + 2) - 1px;
	right: $width-sidebar;
	bottom: -1px;
	position: fixed;
	z-index: 90;
	// overflow: hidden;
	background: rgba(#fff, .05);
	border-left: 1px solid rgba(#fff, .06);
	}

	.title-info {
		text-align: center;
		color: #3b362e;
		text-shadow: 0 1px 0 #b19c80;
		font-family: $font-oriya;
		font-size: 24px;
		font-weight: normal;
		}

	.title_main-info {
		@extend .title-info;

		height: 77px;
		top: 0;
		left: 0;
		position: relative;

		line-height: 55px;

		&:before {
			@include pseudo;

			width: 320px;
			height: 77px;
			top: 0;
			left: 0;
			position: absolute;
			background-image: url('/images/info-title-bg.svg');
			background-size: 331px;
			background-position: 50% -3px;
			}

		&:after {
			@include pseudo;

			width: 320px;
			height: 77px;
			top: 0;
			left: 0;
			position: absolute;
			background-image: url('/images/info-title.svg');
			background-size: 331px;
			background-position: 50% -3px;
			}
		}

		.txt-title_main-info {
			position: relative;
			z-index: 200;
			}
