.menu {
	background-color: $menu-bgcol;
	overflow-y: auto;

	font-family: $font-default;

	transform: translateX(0);
	transform-style: preserve-3d;

	transition-delay: .1s;
	transition-duration: $anim-dur;
	transition-timing-function: $anim-fn;
	}

.menu_hid {
	transform: translateX(-241px);
	}

	.header-menu {
		height: $header-height;
		background: $header-bgcol;
		border-bottom: 1px solid $header-border_bottom;
		box-shadow: 0 1px 0 #111, 0 0 3px rgba(#000, .3);
		position: relative;
		z-index: 101;

		text-align: center;
		line-height: $header-height;
		}

		.logo-header-menu {
			vertical-align: middle;
			}

	.search-menu {
		// height: 36px;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		background-color: #222;
		border-bottom: 1px solid $header-border_bottom;
		box-shadow: 0 1px 0 #111, 0 0 3px rgba(#000, .3);
		z-index: 100;

		.t_label {
			height: 36px;
			margin-left: 22px;
			margin-right: 22px;
			position: relative;
			display: block;
			background-color: #1d1d1d;
			box-shadow: inset 0 0 8px 1px rgba(#000, .55), inset 0 0 0 1px #363636;
			border-radius: 40px;
			}
		}

		.inpt-search-menu {
			width: $menu-width - 22px - 22px - 30px;
			height: 20px;
			padding: 0 15px;
			margin-top: (36px - 20px)/2;
			border: 0;
			background: transparent;

			font-size: 12px;
			font-family: $font-oriya;
			color: #ccc;
			outline-style: none;

			@include placeholder {
				color: #999;
				}
			}

		.btn-search-menu {
			height: 20px;
			}

	.list-menu {
		margin-top: 20px;
		margin-bottom: 20px;

		font-size: 13px;
		font-weight: bold;
		color: #444;
		}

		.item-list-menu {

			.t_a {
				padding: 15px 0 15px 22px;
				display: block;

				text-decoration: none;
				color: inherit;

				&:hover {
					background-color: #eee;
					}
				}
			}
