@import '../_merge';

$brad: 5px;

.publicedit {
    width: 100%;
    max-width: $test-width;
    padding: 0 20px;
    margin: 0 auto 20px;

    box-sizing: border-box;
    }

    .title-publicedit {
        margin-left: 20px;
        padding: 50px 0 20px;

        color: #fff;
        font-family: $font-meta;
        text-shadow: 0 1px 0 #444;
        }

    .form-publicedit {
        margin-bottom: 30px;
        }

        .content-publicedit {
            padding: 20px 10px 0;

            border-radius: $brad;
            background-color: $color-brown_light;

            font-family: $font-meta;

            .label-signup {
                margin: 10px 0 0;
                }
            }

            .item-publicedit {
                margin-bottom: 20px;

                &._half {
                    width: 50%;
                    // padding: 0 10px;
                    // margin: 0 -10px;
                    float: left;

                    box-sizing: border-box;

                    @media screen and (max-width: 4 * $width-step-5) {
                        width: 100%;
                        padding: 0 !important;
                        float: none;
                        }
                    }

                &._half_l {
                    @extend .item-publicedit._half;

                    padding-right: 10px;
                    }
                &._half_r {
                    @extend .item-publicedit._half;

                    padding-left: 10px;
                    }

                .choose-cover-newtest {
                    margin-bottom: 10px;
                    }
                }

            .inpt-publicedit {
                width: 100%;
                height: 42px;
                padding: 0 10px;
                margin: 0;

                border: 0;
                border-radius: $brad;
                background-color: #c9bfa9;
                box-sizing: border-box;
                outline-style: none;

                font-size: 16px;
                font-family: $font-meta;
                line-height: 20px;
                color: #5c5443;

                @include placeholder {
                    color: lighten(#5c5443, 15%);
                    }
                }


    .footer-publicedit {
        margin: 0 -10px;
        }

        .submt-publicedit {
            @include resetInput;

            width: 100%;

            border-radius: 0 0 $brad $brad;
            background-color: $color-green;
            cursor: pointer;

            color: #fff;
            font-family: $font-meta;

            &:hover {
                background-color: lighten($color-green, 3%);
                }
            }

        .submt_main-publicedit {
            @extend .submt-publicedit;

            padding: 15px;

            font-size: 16px;
            }

        .submt_paswd-publicedit {
            @extend .submt-publicedit;

            padding: 10px;

            font-size: 16px;
            }
