@import '../_merge';

$test-borderRadius: 5px;

.test {
    width: 100%;
    max-width: $test-width;
    padding: 0 20px;
    margin: 0 auto 20px;

    box-sizing: border-box;
    }

    .title-test {
        margin-left: 20px;
        padding: 50px 0 20px;

        color: #fff;
        font-family: $font-meta;
        text-shadow: 0 1px 0 #444;
        }


.newtest {
    width: 100%;
    max-width: $test-width;
    padding: 0 20px;
    margin: 0 auto 20px;

    box-sizing: border-box;
    }

    .title-newtest {
        @extend .title-test;
        }

    .form-newtest {
        border-radius: $test-borderRadius;
        background-color: $color-brown_light;

        font-family: $font-meta;
        }

        .content-newtest {
            padding: 20px 10px;
            }

            .label-form-newtest {
                margin-bottom: 30px;
                display: block;

                color: $color-brown;
                }

                .descr-form-newtest {
                    margin-left: 10px;

                    color: $color-brown;
                    }

                .descr_pre-form-newtest {
                    @extend .descr-form-newtest;

                    margin-bottom: 10px;

                    font-size: 14px;
                    }

                .descr_post-form-newtest {
                    @extend .descr-form-newtest;

                    margin-top: 5px;

                    font-size: 12px;
                    }

                .inpt-form-newtest {
                    width: 100%;
                    // width: $test-width - 20 - 20;
                    height: 42px;
                    padding: 0 10px;

                    border-radius: $test-borderRadius;
                    border: 0;
                    background-color: #c9bfa9;
                    outline-style: none;
                    box-sizing: border-box;

                    font-size: 16px;
                    font-family: $font-meta;
                    line-height: 20px;
                    color: #5c5443;

                    @include placeholder {
                        color: lighten(#5c5443, 15%);
                        }
                    }

            .cover-newtest {
                @extend .clearfix;

                color: $color-brown;
                }

                .b-cover-newtest {
                    margin-left: 10px;
                    margin-bottom: 10px;

                    font-size: 14px;
                    }

                .choose-cover-newtest {
                    height: 42px;
                    padding: 0 10px;
                    float: left;

                    border-radius: $test-borderRadius;
                    background-color: #c9bfa9;

                    font-size: 16px;
                    font-family: $font-meta;
                    color: #5c5443;
                    text-decoration: none;
                    line-height: 42px;
                    }

                .descr-cover-newtest {
                    height: 42px;
                    max-width: $test-width - 200;
                    margin-left: 10px;
                    display: inline-block;
                    // float: left;

                    overflow: hidden;

                    font-size: 14px;
                    line-height: 42px;
                    }

                .img-cover-newtest {
                    width: 100%;
                    margin-top: 10px;
                    display: block;
                    }

    .slides-newtest {
        // margin-top: 10px;

        .descr_pre-form-newtest {
            padding-left: 10px;
            }
        }

        .content-slides-newtest {
            padding: 20px;
            position: relative;

            background-color: #f3f3f3;
            // overflow: hidden;
            }

            .slide-newtest {
                height: 40px;
                margin-bottom: 20px;
                position: relative;

                line-height: 40px;
                }

            .num-slide-newtest {
                width: 30px;
                margin-top: 3px;
                float: left;

                text-align: left;
                font-size: 20px;
                color: $color-brown;
                }

            .wrapper-inpt_slide-form-newtest {
                margin-left: 30px + 10px;
                margin-right: 70px;
                }

            .inpt_slide-form-newtest {
                @include resetInput;

                width: 100%;
                height: 40px;
                margin: 0;
                display: block;

                border: 0;
                border-bottom: 1px solid #ccc;
                background-color: #f3f3f3;
                outline-style: none;

                font-size: 20px;
                }

            .inpt_slidePic-form-newtest {
                right: -300px;
                position: absolute;
                visibility: hidden;
                }

            .pic-slide-newtest {
                width: 60px;
                float: right;

                background-color: $color-brown_light;

                text-align: center;
                color: $color-brown;
                font-family: $font-meta;
                font-size: 14px;
                text-decoration: none;
                border-radius: $test-borderRadius
                }

            .img-slide-newtest {
                height: 50px;
                margin-top: - 50px / 2;
                margin-bottom: 10px;
                margin-left: 20px;
                display: block;
                top: 50%;
                left: 100%;
                position: absolute;
                }

    .footer-newtest {
        // padding: 20px;
        }

        .inpt_submit-form-newtest {
            @include resetInput;

            width: 100%;
            padding: 20px;

            border-radius: 0 0 $test-borderRadius $test-borderRadius;
            background-color: $color-green;
            cursor: pointer;

            color: #fff;
            font-size: 20px;
            font-family: $font-meta;

            &:hover {
                background-color: lighten($color-green, 3%);
                }
            }
