@import "_merge";

// Variables
$item-publishers-img-width: 200px;
$publisher-img-width: 200px;

.publishers {}

    .item-publishers {
        width: 600px;
        margin: 0 0 $margin_v-item 0;
        display: inline-block;

        box-sizing: border-box;
        overflow: hidden;

        vertical-align: top;

        @media screen and (max-width: $width-step) {
            margin-right: 0;
            width: 100%;
            }
        }

        .link-item-publishers {
            color: $color-midnightblue;
            text-decoration: none;

            &:hover .title-item-publishers {
                color: $color-amethyst;
                }
            }

        .content-item-publishers {
            @include clearfix;

            padding: 20px 20px 40px;
            margin: 0 50px 0 0;
            display: block;

            // border-radius: 10px;
            background-color: #f2f2f2;
            box-shadow: inset 0 -5px 0 #ddd;

            @media screen and (max-width: $width-step) {
                margin-right: 0;
                }
            }

        .avatar-item-publishers {
            position: relative;

            &:after {
                @include pseudo;

                display: block;
                }
            }

        .img-item-publishers {
            width: $item-publishers-img-width;
            float: left;
            position: relative;

            // border-radius: 100px;

            @media screen and (max-width: $width-step) {
                margin: 0 auto 20px;
                display: block;
                float: none;
                }
            }

        .title-item-publishers {
            margin-right: 50px;
            margin-bottom: 5px;
            margin-left: $item-publishers-img-width + 30px;

            font-size: 30px;
            text-decoration: underline;

            @media screen and (max-width: $width-step) {
                margin-left: 0;
                }
            }

        .descr-item-publishers {
            margin-left: $item-publishers-img-width + 30px;
            margin-right: 50px;

            text-decoration: none;
            line-height: 1.5em;

            @media screen and (max-width: $width-step) {
                margin-left: 0;
                }
            }

.publisher {}

    .info-publisher {
        @include clearfix;

        padding: 20px 40px 20px 20px;
        margin-bottom: 5px + 30px;
        display: inline-block;

        // border-radius: 10px;
        background-color: #f2f2f2;
        box-shadow: 0 5px 0 #ddd;

        @media screen and (max-width: $width-step) {
            padding-right: 20px;
            }
        }

        .img-info-publisher {
            width: $publisher-img-width;
            float: left;

            // border-radius: 5px;

            @media screen and (max-width: $width-step) {
                margin: auto;
                display: block;
                float: none;
                }
            }

        .content-info-publisher {
            margin-left: $publisher-img-width + 30px;

            color: $color-midnightblue;

            @media screen and (max-width: $width-step) {
                margin-left: 0;
                }
            }

            .title-info-publisher {
                margin: 10px 0 5px;

                font-size: 30px;
                }

            .descr-info-publisher {
                max-width: 500px;
                line-height: 1.5em;
                }

    .meta-publisher {
        @include clearfix;

        padding: 10px 0;

        ._fl_l {
            margin-top: 10px;
            margin-right: 50px;
            }
        }

    .createTest-publisher {
        min-width: 135px;
        padding: 0 50px;
        margin-bottom: 26px;
        position: relative;

        background-color: $color-nephritis;
        box-shadow: inset 0 -5px 0 rgba(#000, .15);

        color: #fff;
        line-height: 60px;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;

        &:hover {
            background-color: $color-emerald;
            }

        &._fl_l {
            margin-top: 0;
            }
        }

    .follow-publisher {
        margin: 20px 0;

        color: #8c8c8b;

        @media screen and (max-width: $width-small) {
            text-align: center;
            }

        span {
            display: inline-block;
            line-height: 42px;
            }
        }

        .link-follow-publisher {
            width: 100px;
            padding: 10px 10px;
            margin-right: 20px;
            display: inline-block;

            // border-radius: 5px;
            box-sizing: border-box;

            text-decoration: none;
            font-size: 16px;
            text-align: center;

            @media screen and (max-width: $width-small) {
                width: 100%;
                }
            }

        .link_gray-follow-publisher {
            @extend .link-follow-publisher;

            border: 1px solid #d9d8d8;
            border-color: #d9d8d8 #cccbcb #aeaeae;
            background-color: #eee;
            background-image: linear-gradient(top, #eee, #e1e1e1);

            color: #282828;
            text-shadow: 0 1px 0 rgba(255,255,255,0.8);
            font-weight: bold;
            }

        .link_blue-follow-publisher {
            @extend .link-follow-publisher;

            border: 1px solid #bbcfe1;
            border-color: #bbcfe1 #a7bed3 #92adc5;
            background-color: lighten(#f5f8fa, 5%);
            background-image: linear-gradient(bottom, #9fbcd5, #bbcee1);

            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,0.3);
            font-weight: bold;
            }

        .link_red-follow-publisher {
            @extend .link-follow-publisher;

            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,0.3);
            font-weight: bold;
            }

    .form-publisher {
        position: relative;
        }

        .avatar-form-publisher {
            width: 200px;
            top: 0;
            left: 100%;
            margin-left: 20px;
            position: absolute;

            @media screen and (max-width: $width-step + 30) {
                display: none;
                }
            }
