.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

@font-face {
  font-family: 'Oriya_MN';
  src: url("/assets/global/fonts/OriyaMN/Oriya_MN.eot");
  src: local("Oriya MN"), url("/assets/global/fonts/OriyaMN/Oriya_MN.woff") format("woff"), url("/assets/global/fonts/OriyaMN/Oriya_MN.ttf") format("truetype"), url("/assets/global/fonts/OriyaMN/Oriya_MN.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

._hid {
  display: none; }

._overhid {
  overflow: hidden; }

.t_inpt {
  -webkit-appearance: none; }

.page {
  position: relative;
  z-index: 100;
  background: #59504b url("/assets/global/images/page-bg.jpg") no-repeat 0 0 fixed;
  -webkit-font-smoothing: antialiased; }

.bg-main {
  background-color: #fff; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.html, .page {
  height: 100%; }

.page {
  min-width: 320px;
  position: relative; }

.window {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.inner {
  max-width: 2500px;
  margin: auto; }

.header {
  width: 100%;
  min-height: 84px;
  position: absolute;
  z-index: 10010; }
  @media (max-width: 640px) {
    .header {
      position: relative; } }

.menu {
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 35020; }

.info {
  width: 320px;
  top: 85px;
  right: 320px;
  bottom: -1px;
  position: fixed;
  z-index: 10003; }
  @media (max-width: 960px) {
    .info {
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      position: relative; } }

.sidebar {
  width: 320px;
  position: absolute;
  top: 85px;
  right: 0;
  bottom: -1px;
  z-index: 10005; }
  @media (max-width: 640px) {
    .sidebar {
      width: 100%;
      top: 0;
      position: relative; } }

.signup {
  width: 320px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 35010; }
  @media (max-width: 640px) {
    .signup {
      width: 100%; } }
  @media (max-width: 320px) {
    .signup {
      width: 320px;
      position: absolute; } }

.main-window {
  position: absolute;
  top: 84px;
  right: 320px;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 10000; }
  @media (max-width: 640px) {
    .main-window {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; } }

.main {
  min-height: 100%;
  position: relative; }

.bg-main {
  position: absolute;
  top: 0;
  right: 320px;
  bottom: 0;
  left: 0;
  z-index: 200; }

.content {
  position: relative;
  z-index: 300; }
.clearfix, .header {
  zoom: 1; }
  .clearfix:before, .header:before, .clearfix:after, .header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .header:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange, .signup-u-header {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .signup-u-header:hover, .grad_orange:focus, .signup-u-header:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active, .signup-u-header:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.header {
  background-color: #222;
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 #111, 0 0 3px 1px rgba(0, 0, 0, 0.7);
  line-height: 84px; }

.logo-header {
  width: 161px;
  height: 40px;
  padding: 24px 22px 20px;
  margin-left: 33px;
  float: left; }
  @media (max-width: 1024px) {
    .logo-header {
      display: none; } }

.img-logo-header {
  display: block; }

.descr-header {
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  font-weight: normal;
  color: #ccc; }
  @media (max-width: 1200px) {
    .descr-header {
      display: none; } }

.u-header {
  width: 320px;
  height: 84px;
  float: right; }
  @media (max-width: 768px) {
    .u-header {
      width: auto;
      margin-left: 84px;
      float: none;
      overflow: hidden; } }
  @media (max-width: 640px) {
    .u-header {
      padding: 0 13px 0 7px; } }

.signup-u-header {
  width: 300px;
  height: 60px;
  margin-top: 13px;
  margin-right: 13px;
  float: right;
  position: relative;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75), inset 1px 1px 1px rgba(91, 66, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 190, 0.6);
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #222; }
  @media (max-width: 640px) {
    .signup-u-header {
      width: 100%;
      margin: 13px 0 0; } }
  .signup-u-header:after {
    display: block;
    content: '\0020';
    width: 23px;
    height: 23px;
    top: 19px;
    right: 21px;
    position: absolute;
    background-image: url("/assets/blocks/header/images/u-signup-plus.svg"); }

.search-header {
  width: 320px;
  height: 84px;
  float: right; }
  @media (max-width: 1024px) {
    .search-header {
      display: none; } }
  .search-header .t_label {
    width: 282px;
    height: 38px;
    margin-top: 25px;
    margin-left: 18px;
    position: relative;
    display: block; }

.inpt-search-header {
  width: 211px;
  height: 36px;
  padding: 0 44px 0 25px;
  float: right;
  background-color: #1d1d1d;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.55);
  border: 1px solid #363636;
  border-radius: 25px;
  outline-style: none;
  font-size: 14px;
  font-family: "Oriya_MN", Arial;
  color: #999;
  -webkit-transition-property: background-color, box-shadow;
          transition-property: background-color, box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .inpt-search-header::-webkit-input-placeholder {
    color: #666;
    -webkit-transition-property: color;
            transition-property: color;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .inpt-search-header:-moz-placeholder {
    /* Firefox 18- */
    color: #666;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .inpt-search-header::-moz-placeholder {
    /* Firefox 19+ */
    color: #666;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .inpt-search-header:-ms-input-placeholder {
    color: #666;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .inpt-search-header:focus {
    background-color: #fff;
    box-shadow: none; }
    .inpt-search-header:focus::-webkit-input-placeholder {
      color: #ccc; }
    .inpt-search-header:focus:-moz-placeholder {
      /* Firefox 18- */
      color: #ccc; }
    .inpt-search-header:focus::-moz-placeholder {
      /* Firefox 19+ */
      color: #ccc; }
    .inpt-search-header:focus:-ms-input-placeholder {
      color: #ccc; }

.btn-search-header {
  width: 44px;
  height: 36px;
  top: 0;
  right: 0;
  position: absolute;
  background: url("/assets/blocks/header/images/search-btn.svg") no-repeat 50% 9px;
  border: 0;
  cursor: pointer;
  color: transparent; }

.trigger-menu-header {
  width: 84px;
  height: 84px;
  float: left;
  background-image: url("/assets/global/images/hamburger.svg");
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: 50%;
  color: transparent; }
  @media (min-width: 1024px) {
    .trigger-menu-header {
      display: none; } }
  .trigger-menu-header:hover {
    background-color: rgba(0, 0, 0, 0.1); }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .grad_orange:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.info {
  background: rgba(255, 255, 255, 0.05);
  border-left: 1px solid rgba(255, 255, 255, 0.06); }

.title-info, .title_main-info {
  text-align: center;
  color: #3b362e;
  text-shadow: 0 1px 0 #b19c80;
  font-family: "Oriya_MN", Arial;
  font-size: 24px;
  font-weight: normal; }

.title_main-info {
  height: 77px;
  top: 0;
  left: 0;
  position: relative;
  line-height: 55px; }
  .title_main-info:before {
    display: block;
    content: '\0020';
    width: 320px;
    height: 77px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("/assets/blocks/info/images/title-bg.svg");
    background-size: 331px;
    background-position: 50% -3px; }
  .title_main-info:after {
    display: block;
    content: '\0020';
    width: 320px;
    height: 77px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("/assets/blocks/info/images/title.svg");
    background-size: 331px;
    background-position: 50% -3px; }

.txt-title_main-info {
  position: relative;
  z-index: 200; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .grad_orange:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.menu {
  background-color: #fff;
  overflow-y: auto;
  font-family: Arial;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.menu_hid {
  -webkit-transform: translateX(-241px);
      -ms-transform: translateX(-241px);
          transform: translateX(-241px); }

.header-menu {
  height: 84px;
  background: #222;
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 #111, 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 101;
  text-align: center;
  line-height: 84px; }

.logo-header-menu {
  vertical-align: middle; }

.search-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: #222;
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 #111, 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .search-menu .t_label {
    height: 36px;
    margin-left: 22px;
    margin-right: 22px;
    position: relative;
    display: block;
    background-color: #1d1d1d;
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.55), inset 0 0 0 1px #363636;
    border-radius: 40px; }

.inpt-search-menu {
  width: 166px;
  height: 20px;
  padding: 0 15px;
  margin-top: 8px;
  border: 0;
  background: transparent;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #ccc;
  outline-style: none; }
  .inpt-search-menu::-webkit-input-placeholder {
    color: #999; }
  .inpt-search-menu:-moz-placeholder {
    /* Firefox 18- */
    color: #999; }
  .inpt-search-menu::-moz-placeholder {
    /* Firefox 19+ */
    color: #999; }
  .inpt-search-menu:-ms-input-placeholder {
    color: #999; }

.btn-search-menu {
  height: 20px; }

.list-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444; }

.item-list-menu .t_a {
  padding: 15px 0 15px 22px;
  display: block;
  text-decoration: none;
  color: inherit; }
  .item-list-menu .t_a:hover {
    background-color: #eee; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .grad_orange:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 35000;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: opacity, z-index;
          transition-property: opacity, z-index;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.shadow_hid {
  opacity: 0;
  z-index: 1; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .grad_orange:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.sidebar {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  background-color: rgba(34, 34, 34, 0.85);
  box-shadow: inset 0 0 0 1px #333333; }
  .sidebar:after {
    width: 4px;
    top: 0;
    left: -5px;
    bottom: 0;
    position: absolute;
    content: '\0020';
    opacity: 0.3;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5)); }
  @media (max-width: 640px) {
    .sidebar {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      padding-bottom: 20px;
      border-bottom: 1px solid #000; } }

.title-box_signin-sidebar {
  text-align: center;
  font-weight: normal;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  line-height: 58px;
  color: #ccc; }

.social-box_signin-sidebar {
  padding: 30px 0 23px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center; }
  .social-box_signin-sidebar:after {
    display: block;
    content: '\0020';
    width: 100%;
    height: 4px;
    top: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(2, 1, 1, 0.08), rgba(36, 33, 30, 0.08));
    background-image: linear-gradient(top, rgba(2, 1, 1, 0.08), rgba(36, 33, 30, 0.08)); }

.i-social-box_signin-sidebar {
  width: 58px;
  height: 58px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%; }
  .i-social-box_signin-sidebar:hover {
    border-color: rgba(255, 255, 255, 0.2); }
  .i-social-box_signin-sidebar:nth-child(2) {
    margin: 0 35px; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange, .inpt_submt-signup {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .inpt_submt-signup:hover, .grad_orange:focus, .inpt_submt-signup:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active, .inpt_submt-signup:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.signup {
  background-color: #a99a7c;
  border-left: 1px solid #c7b694;
  font-family: Arial;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  @media (max-width: 640px) {
    .signup .cont-signup:after {
      display: none; }
    .signup .group-cont-signup {
      margin: 0 auto; } }
  @media (max-width: 320px) {
    .signup.signup_hid {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); } }

.signup_hid {
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.header-signup {
  height: 84px;
  padding: 0 40px;
  position: relative;
  z-index: 305;
  border-bottom: 1px solid #bbab8a;
  box-shadow: 0 1px 0 #837965, 0 0 10px 1px rgba(0, 0, 0, 0.2);
  line-height: 84px;
  font-family: "Oriya_MN", Arial;
  font-size: 32px;
  color: #635b4c;
  text-shadow: 1px 1px 0 #cab997; }

.close-header-signup {
  width: 25px;
  height: 24px;
  padding: 18px;
  top: 12px;
  right: 23px;
  position: absolute;
  border-radius: 4px;
  background-image: url("/assets/blocks/signup/images/close.svg");
  background-repeat: no-repeat;
  background-position: 50%; }
  .close-header-signup:hover {
    background-color: #a59576;
    box-shadow: inset 0 0 0 1px #9d8c6a; }

.cont-signup {
  width: 100%;
  padding-bottom: 20px;
  top: 84px;
  bottom: 0;
  position: absolute;
  z-index: 300;
  overflow-y: auto; }
  .cont-signup:after {
    display: block;
    content: '\0020';
    width: 1px;
    top: 0;
    bottom: 0;
    left: 318px;
    position: absolute;
    background-color: #948568;
    box-shadow: 1px 0 0 #b2a58a; }

.group-cont-signup {
  width: 280px;
  margin: 0 18px; }

.title-cont-signup {
  height: 50px;
  padding-top: 7px;
  padding-left: 25px;
  position: relative;
  font-family: "Oriya_MN", Arial;
  font-size: 14px;
  color: #4c4436;
  line-height: 50px; }

.divider-group-cont-signup {
  color: #635b4c;
  font-size: 30px;
  font-family: "Oriya_MN", Arial;
  text-align: center;
  line-height: 90px; }

.subscr-cont-signup {
  padding: 0 20px;
  margin-bottom: 25px;
  border: 1px solid #b9ad95;
  border-radius: 18px;
  background-color: #b2a58a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #4c4436;
  line-height: 24px; }

.item-subscr-cont-signup {
  padding: 15px 0 15px 50px;
  position: relative;
  border-bottom: 1px solid #a3957a;
  box-shadow: 0 1px 0 #c7ba9f; }
  .item-subscr-cont-signup:nth-child(6) {
    border-bottom-width: 0;
    box-shadow: none; }

.inpt-subscr-cont-signup {
  top: 0;
  left: 0;
  position: absolute;
  display: none; }
  .inpt-subscr-cont-signup:checked + .label-subscr-cont-signup:after {
    background-position: 0 0; }

.label-subscr-cont-signup {
  display: inline-block; }
  .label-subscr-cont-signup:before {
    display: block;
    content: '\0020';
    width: 24px;
    height: 24px;
    top: 18px;
    left: 0;
    position: absolute;
    border: 2px solid #a29479;
    border-radius: 6px;
    background-color: #c7ba9f;
    cursor: pointer; }
  .label-subscr-cont-signup:after {
    display: block;
    content: '\0020';
    width: 37px;
    height: 31px;
    top: 15px;
    left: 1px;
    position: absolute;
    background-image: url("/assets/blocks/signup/images/checkbox_on.svg");
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: -100px;
    cursor: pointer; }

.nextlink-cont-signup {
  width: 210px;
  padding: 15px;
  margin-left: 19px;
  text-align: center; }

.soc-cont-signup, .soc_fb-cont-signup, .soc_twitter-cont-signup, .soc_instagram-cont-signup {
  width: 175px;
  padding: 13px 0 13px 65px;
  margin: 0 19px 16px;
  color: #fff; }

.soc_fb-cont-signup {
  text-shadow: 1px 1px 0 #3d4b67; }

.soc_twitter-cont-signup {
  text-shadow: 1px 1px 0 #3f647e; }

.soc_instagram-cont-signup {
  text-shadow: 1px 1px 0 #293a44; }

.label-signup {
  margin: 0 19px 14px;
  display: inline-block; }

.inpt-signup, .inpt_txt-signup, .inpt_paswd-signup {
  width: 204px;
  height: 20px;
  padding: 14px 18px 12px;
  border: 0;
  border-radius: 5px;
  background-color: #c7ba9f;
  outline-style: none;
  font-size: 14px;
  font-family: "Oriya_MN", Arial;
  color: #81745c;
  line-height: 20px; }
  .inpt-signup::-webkit-input-placeholder, .inpt_txt-signup::-webkit-input-placeholder, .inpt_paswd-signup::-webkit-input-placeholder {
    color: #81745c; }
  .inpt-signup:-moz-placeholder, .inpt_txt-signup:-moz-placeholder, .inpt_paswd-signup:-moz-placeholder {
    /* Firefox 18- */
    color: #81745c; }
  .inpt-signup::-moz-placeholder, .inpt_txt-signup::-moz-placeholder, .inpt_paswd-signup::-moz-placeholder {
    /* Firefox 19+ */
    color: #81745c; }
  .inpt-signup:-ms-input-placeholder, .inpt_txt-signup:-ms-input-placeholder, .inpt_paswd-signup:-ms-input-placeholder {
    color: #81745c; }

.inpt_submt-signup {
  width: 240px;
  height: 46px;
  margin: 0 19px;
  border: 0;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #222;
  cursor: pointer; }
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  box-shadow: 1.41px 1.41px 3px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.27);
  text-decoration: none;
  font-size: 18px;
  line-height: 20px; }

.btn_blue {
  background-color: #2c6bec;
  color: #fff; }

.btn_fb {
  background-image: -webkit-linear-gradient(top, #617394, #5d6e8e);
  background-image: linear-gradient(top, #617394, #5d6e8e); }

.btn_twitter {
  background-image: -webkit-linear-gradient(top, #4f92c1, #478dbe);
  background-image: linear-gradient(top, #4f92c1, #478dbe); }

.btn_instagram {
  background-image: -webkit-linear-gradient(top, #486272, #445d6c);
  background-image: linear-gradient(top, #486272, #445d6c); }

.grad_orange {
  border-radius: 5px;
  background-color: #e1a900;
  background-image: -webkit-linear-gradient(bottom, #ca9902, #e3ae0b);
  background-image: linear-gradient(bottom, #ca9902, #e3ae0b);
  box-shadow: inset 0 0 0 1px #7e733f, inset 0 0 0 2px rgba(255, 255, 190, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 0 #eac102;
  text-decoration: none; }
  .grad_orange:hover, .grad_orange:focus {
    background-image: -webkit-linear-gradient(bottom, #d9a402, #f2b90c);
    background-image: linear-gradient(bottom, #d9a402, #f2b90c); }
  .grad_orange:active {
    background-image: -webkit-linear-gradient(top, #d9a402, #f2b90c);
    background-image: linear-gradient(top, #d9a402, #f2b90c); }

.inpt_submt-form {
  cursor: pointer; }

.form_signin {
  padding: 0 13px; }

.label-form_signin {
  margin-bottom: 9px;
  display: block; }

.inpt_txt-form_signin,
.inpt_paswd-form_signin {
  width: 100%;
  height: 46px;
  padding: 0 19px;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  background-color: #222;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
  outline-style: none;
  font-family: "Oriya_MN", Arial;
  font-size: 18px;
  color: #888; }
  .inpt_txt-form_signin:focus, .inpt_txt-form_signin:hover,
  .inpt_paswd-form_signin:focus,
  .inpt_paswd-form_signin:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_txt-form_signin:-webkit-autofill, .inpt_txt-form_signin:hover:-webkit-autofill, .inpt_txt-form_signin:focus:-webkit-autofill,
  .inpt_paswd-form_signin:-webkit-autofill,
  .inpt_paswd-form_signin:hover:-webkit-autofill,
  .inpt_paswd-form_signin:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 40px #222;
    -webkit-text-fill-color: #888; }
  .inpt_txt-form_signin::-webkit-input-placeholder,
  .inpt_paswd-form_signin::-webkit-input-placeholder {
    color: #666; }
  .inpt_txt-form_signin:-moz-placeholder,
  .inpt_paswd-form_signin:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  .inpt_txt-form_signin::-moz-placeholder,
  .inpt_paswd-form_signin::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  .inpt_txt-form_signin:-ms-input-placeholder,
  .inpt_paswd-form_signin:-ms-input-placeholder {
    color: #666; }

.footer-form_signin {
  position: relative; }

.inpt_submt-form_signin {
  width: 74px;
  height: 38px;
  top: 0;
  right: 0;
  position: absolute;
  background: #2c6bec url("/assets/global/_form/images/submt.svg") no-repeat 50%;
  background-size: 25%;
  box-shadow: inset 0 0 0 1px #558dff;
  border: 1px solid #111;
  border-radius: 5px;
  color: transparent; }
  .inpt_submt-form_signin:hover {
    background-color: #437bee; }

.inpt_checkbox-form_signin {
  width: 0;
  height: 0;
  float: left;
  visibility: hidden; }
  .inpt_checkbox-form_signin + .label-form_signin:before {
    display: block;
    content: '\0020';
    width: 18px;
    height: 18px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    background: #222 url("/assets/global/_form/images/checkbox_on.svg") no-repeat 1px -103px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .inpt_checkbox-form_signin:focus + .label-form_signin:before, .inpt_checkbox-form_signin:hover + .label-form_signin:before {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .inpt_checkbox-form_signin:checked + .label-form_signin:before {
    background-position: 1px 2px; }

.about_checkbox-form_signin {
  margin-left: 30px;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  font-family: "Oriya_MN", Arial;
  color: #6c6a69; }

.slide_hid {
  display: none; }
/*




 *

 *


 *
 */

