@import '_merge';

._hid {
    display: none;
    }

._overhid {
    overflow: hidden;
    }

.t_inpt {
    -webkit-appearance: none;
    }

.page {
    position: relative;
    z-index: 100;
    background: #59504b url('/assets/global/images/page-bg.jpg') no-repeat 0 0 fixed;

    -webkit-font-smoothing: antialiased;
    }

.shadow {
    @include position(fixed, 0 0 0 0);
    z-index: $shadow-zIndex;
    background-color: rgba(#000, .5);

    @include transit(2) {
        transition-property: opacity, z-index;
        }
    }

.shadow_hid {
    opacity: 0;
    z-index: 1;
    }

.main {}

    .content-main {
        position: relative;
        z-index: 300;
        }

    .bg-main {
        @include position(absolute, 0 320px 0 0);
        z-index: 200;

        background-color: #fff;
        }
