@import '_merge';

.html, .page {
    height: 100%;
    }

.page {
    min-width: $width-step-5;
    position: relative;
    }

.window {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    }

.inner {
    max-width: $width-max;
    margin: auto;
    }

.header {
    width: 100%;
    min-height: $header-height;
    position: absolute;
    z-index: $main-zIndex + 10;

    @media (max-width: $width-step-4) {
        position: relative;
        }
    }

.menu {
    width: $menu-width;
    @include position(absolute, 0 null 0 0);
    z-index: $shadow-zIndex + 20;
    }

.info {
    width: $width-info;
    top: ($header-height + 2) - 1px;
    right: $width-sidebar;
    bottom: -1px;
    position: fixed;
    z-index: $main-zIndex + 3;

    @media (max-width: 3 * $width-step-5) {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        position: relative;
        }
    }

.sidebar {
    width: $width-sidebar;
    position: absolute;
    top: ($header-height + 2) - 1px;
    right: 0;
    bottom: -1px;
    z-index: $main-zIndex + 5;

    @media (max-width: $width-step-4) {
        width: 100%;
        top: 0;
        position: relative;
        }
    }

.signup {
    width: $width-step-5;
    @include position(absolute, 0 0 0 null);
    z-index: $shadow-zIndex + 10;

    @media (max-width: $width-step-4) {
        width: 100%;
        }

    @media (max-width: $width-step-5) {
        width: $width-step-5;
        position: absolute;
        }
    }

.main-window {
    @include position(absolute, $header-height $width-sidebar 0 0);
    overflow: auto;
    z-index: $main-zIndex;

    @media (max-width: $width-step-4) {
        @include position(relative, 0 0 0 0);
        }
    }

.main {
    min-height: 100%;
    position: relative;
    }

    .bg-main {
        @include position(absolute, 0 320px 0 0);
        z-index: 200;
        }

.content {
    position: relative;
    z-index: 300;
    }
