@import '_merge';

.html, .page {
    height: 100%;
    }

.page {
    min-width: $width-step-5;
    }

.inner {
    max-width: $width-max;
    margin: auto;
    }

.header {
    width: 100%;
    min-height: $header-height;
    position: fixed;
    z-index: 100;

    @media (max-width: $width-step-5) {
        position: relative;
        }
    }

.menu {
    width: $menu-width;
    @include position(fixed, 0 null 0 0);
    z-index: $shadow-zIndex + 20;
    }

.info {
    width: $width-info;
    top: ($header-height + 2) - 1px;
    right: $width-sidebar;
    bottom: -1px;
    position: fixed;
    z-index: 90;

    @media (max-width: 3 * $width-step-5) {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        position: relative;
        }
    }

.sidebar {
    width: $width-sidebar;
    position: fixed;
    top: ($header-height + 2) - 1px;
    right: 0;
    bottom: -1px;
    z-index: 95;

    @media (max-width: $width-step-4) {
        width: 100%;
        position: relative;
        }

    @media (max-width: $width-step-5) {
        top: 0;
        }
    }

.signup {
    width: $width-step-5;
    @include position(fixed, 0 0 0 null);
    z-index: $shadow-zIndex + 10;

    @media (max-width: $width-step-4) {
        width: 100%;
        }

    @media (max-width: $width-step-5) {
        width: $width-step-5;
        position: absolute;
        }
    }

.main {
    margin-right: $width-sidebar;

    @media (max-width: $width-step-4) {
        margin-right: 0;
        }
    }

.content {
    margin-right: 320px;
    padding-top: $header-height;
    position: relative;
    z-index: 95;

    @media (max-width: $width-step-5) {
        padding-top: 0;
        }

    @media (max-width: 3 * $width-step-5) {
        margin-right: 0;
        }
    }
