@import '_merge';

.tests {

    }

    .test {
        width: 320px;
        margin: 0 (30px) 30px 20px;
        float: left;
        position: relative;

        font-family: $font-main;
        }

        .content-test {
            width: 100%;
            bottom: 0;
            padding: 10px;
            position: absolute;

            // border-radius: 0 0 5px 5px;
            background-color: rgba(#000, .6);
            box-sizing: border-box;

            color: $color-clouds;
            }

        .bg-test {
            border-radius: 5px 5px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
                }
            }
