@import '_merge';

.finalcard {
    position: relative;
    z-index: 2;
    }

.test_full .finalcard {
    margin-top: -10px;
    }

    .inner-finalcard {
        max-width: 640px;
        padding: 0 25px;
        margin: 0 auto;
        }

    .cont-finalcard {
        position: relative;

        box-sizing: border-box;
        }

    .chart-finalcard {
        @extend .inner-finalcard;

        canvas {
            margin-left: -100px;

            @media screen and (max-width: $width) {
                margin-left: 0;
                }
            }
        }

    .afterChart-finalcard {
        @extend .inner-finalcard;

        img {
            width: 100%;
            max-width: 150px;
            display: inline-block;
            }
        }

        .list-afterChart-finalcard {
            margin-left: 42px - 100px;

            @media screen and (max-width: $width) {
                margin-left: 42px;
                }
            }

        .item-afterChart-finalcard {
            display: inline-block;
            vertical-align: top;
            }

            .imgWrap-item-afterChart-finalcard {
                margin: 0 10px;
                text-align: center;
                }

    .share-finalcard {
        width: 100%;
        max-width: 640px;
        // padding: 20px;
        margin: 50px auto 0;

        // background-color: rgba($color-sunflower, .5);

        input {
            @include resetInput;

            width: 100%;
            padding: 20px;

            background-color: $color-sunflower;
            box-sizing: border-box;

            font-family: $font-main;
            font-size: 16px;
            color: #000;
            }
        }

        .title-share-finalcard {
            margin-bottom: 5px;

            font-weight: bold;
            }

    .comments-finalcard {
        @extend .inner-finalcard;

        margin-top: 30px;

        color: $color-midnightblue;
        }

        .title-comments-finalcard {
            margin-bottom: 20px;

            font-weight: bold;
            font-size: 20px;
            }

        .comment-finalcard {
            @include clearfix;

            margin-bottom: 20px;

            line-height: 24px;
            }

        .author-comment-finalcard {

            img,
            .name-author-comment-finalcard {
                display: inline-block;

                vertical-align: top;
                }

            img {
                width: 50px;
                margin-right: 20px;
                float: left;
                }
            }

        .name-author-comment-finalcard {
            text-decoration: underline;
            color: $color-midnightblue;
            font-weight: bold;
            }

        .content-comment-finalcard {
            margin-left: 70px;
            position: relative;
            }

        .form-comments-finalcard {

            label {
                margin: 5px -20px 15px 0;
                left: -10px;
                position: relative;
                display: block;
                }

            textarea {
                @include resetInput;

                width: 100%;
                height: 24px;
                padding: 10px;

                background-color: #f3f3f3;
                box-sizing: border-box;
                resize: vertical;

                font-family: inherit;
                font-size: 16px;
                color: inherit;
                line-height: 24px;

                &:focus {
                    outline-style: none;
                    }
                }
            }

    .likes-finalcard {
        @extend .inner-finalcard;

        width: 160px;
        margin-top: 50px;
        margin-left: 300px;
        top: 0;
        left: 50%;
        position: absolute;

        text-align: center;
        color: $color-midnightblue;

        @media screen and (max-width: $width) and (min-width: $width-step) {
            width: 400px;
            margin: 50px auto 0;
            position: static;
            }

        @media screen and (max-width: $width-step) {
            margin-left: auto;
            position: static;
            }

        a {
            width: 120px;
            padding: 20px;
            margin: 10px;
            display: block;

            font-size: 30px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            text-align: center;

            @include transit;

            @media screen and (max-width: $width) and (min-width: $width-step) {
                display: inline-block;
                }

            &._unact {
                transform: scale(.7);
                opacity: 0.5;
                }

            &[href^='#like'] {
                background-color: $color-nephritis;
                &:hover {background-color: $color-emerald;opacity: 1;}
                &._unact {

                    @media screen and (max-width: $width) and (min-width: $width-step) {
                        margin-left: -170px;
                        }
                    }
                }
            &[href^='#dislike'] {
                background-color: $color-pomegranate;
                &:hover {background-color: $color-alizarin;opacity: 1;}
                &._unact {

                    @media screen and (max-width: $width) and (min-width: $width-step) {
                        margin-right: -170px;
                        }
                    }
                }
            }
        }

    .tests-finalcard {
        margin: 50px 0 -50px;

        .list-cont-user {
            margin: auto;
            }

        .test {
            // display: inline-block;
            // margin: 0 25px 50px;
            // transform: scale(.5);
            }
        }

    #ResultChart {
    }
