@import '_merge';

.users {}

$user-img-width: 200px;

.user {}

    .info-user {
        max-width: 730px;
        padding: 30px 50px (30px + 5px) 30px;
        margin-bottom: 30px;

        background-color: #f2f2f2;
        box-shadow: inset 0 -5px 0 #ddd;

        color: $color-midnightblue;
        }

        .img-info-user {
            width: $user-img-width;
            display: block;

            // border-radius: $user-img-width;
            }

        .avatar-info-user {
            position: relative;

            cursor: pointer;

            &:hover .upd-avatar-info-user {
                opacity: 1;
                }
            }

            .upd-avatar-info-user {
                padding: 10px 20px;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;

                background-color: rgba(#000, .6);
                opacity: 0;
                @include transit {
                    transition-property: opacity, background-color;
                    }

                color: #fff;
                font-size: 14px;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-color: rgba(#000, .8);
                    }
                }

        .title-info-user {
            margin-bottom: 5px;

            font-size: 40px;
            font-weight: bold;
            line-height: 1.3em;
            }

        .descr-info-user {
            @include clearfix;

            display: table;
            }

        .l-descr-info-user,
        .r-descr-info-user {
            display: table-cell;

            @media screen and (max-width: $width-step) {
                display: block;
                }
            }

        .l-descr-info-publisher {
            text-align: center;
            }

        .r-descr-info-user {
            max-width: 500px;
            padding: 10px 0 10px 30px;

            vertical-align: middle;

            p {
                margin-bottom: 10px;

                line-height: 1.5em;
                }

            @media screen and (max-width: $width-step) {
                padding-left: 0;
                }
            }

    .cont-user {
        @include clearfix;

        .title_big {
            margin-bottom: 10px;
            display: inline-block;

            text-decoration: none;

            &:hover {
                color: $color-wetasphalt;
                }
            }
        }

        .list-cont-user {
            width: 100%;
            margin-bottom: 50px;
            overflow: hidden;

            .test {
                margin-bottom: 0;
                }

            .item-publishers {
                width: 500px;
                }
            .content-item-publishers {
                margin-right: $margin_h-item;
                }
            .avatar-item-publisher {
                text-align: left;
                }
            .img-item-publishers {
                margin: 0;
                float: left;
                }
            .title-item-publishers,
            .descr-item-publishers {
                margin-left: 190px;
                }
            }

            .full-list-cont-user {
                width: 10000px;
                }

            .link-list-cont-user {
                text-align: right;

                color: $color-midnightblue;
                font-weight: bold;

                a {
                    padding: 10px;
                    display: inline-block;

                    background-color: #f3f3f3;

                    color: inherit;
                    text-decoration: none;
                    }
                }
