@import '_merge';

._hid {
    display: none;
    }

._overhid {
    overflow: hidden;
    }

.t_inpt {
    -webkit-appearance: none;
    }

.page {
    position: relative;
    z-index: 100;
    background: #59504b asset-url('page-bg.jpg') no-repeat 0 0 fixed;

    -webkit-font-smoothing: antialiased;
    }

.main {}

    .bg-main {
        background-color: #fff;
        }
