@import '_merge';

.t_html, .t_body {
    height: 100%;
    }

.t_body {
    font-family: $font-main;
    }

._overhide {
    overflow: hidden;
    }

._hid {
    display: none;
    }

._fl_l {
    float: left;
    }

._fl_r {
    float: right;
    }

._no_margin {
    margin: 0 !important;
    }

.link_back {
    $corn-width: 12px;
    $bgcol: #f3f3f3;

    // width: 70px;
    height: 50px;
    padding: 0 10px 0 (20px - $corn-width);
    position: relative;
    display: inline-block;

    background-color: $bgcol;

    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: $color-midnightblue;
    line-height: 52px;
    text-align: center;
    vertical-align: middle;

    &:after {
        @include pseudo;

        width: 0;
        height: 0;
        top: 0;
        left: -$corn-width;
        position: absolute;

        border-style: solid;
        border-width: 25px $corn-width 25px 0;
        border-color: transparent $bgcol transparent transparent;
        }

    &._yellow {
        background-color: $color-sunflower;

        color: #fff;

        &:after {
            border-right-color: $color-sunflower;
            }
        }
    }

.title_big {
    margin-bottom: 50px;

    font-size: $fonts-big;
    font-weight: bold;
    color: $color-midnightblue;

    span {
        margin: 10px 0 0 15px;
        display: inline-block;
        }
    }

    .title_big .filter {
        margin-top: 15px;
        }

.header {
    @include clearfix;

    .filter {
        margin-right: 30px;
        }
    }

    .btn-header {
        padding: 0 50px;
        top: -10px;
        position: relative;
        display: inline-block;

        box-shadow: inset 0 -5px 0 rgba(#000, .15);

        color: #fff;
        line-height: 60px;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;

        @media screen and (max-width: $width-small + 100) {
            padding: 0 20px;
            }
        }

    .btn_purple-header {
        @extend .btn-header;

        background-color: $color-wisteria;

        &:hover {
            background-color: $color-amethyst;
            }
        }

    .btn_yellow-header {
        @extend .btn-header;

        background-color: $color-orange;

        &:hover {
            background-color: $color-sunflower;
            }
        }

    .btn_userSignin {
        @media screen and (max-width: $width-step) {
            display: none;
            }
        }

.wrapper {
    max-width: 2500px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    }

.content {
    min-width: $width-item + 40;
    padding: 30px 50px;
    margin-left: $width-menu;

    box-sizing: border-box;

    @media screen and (min-width: $width) {
        margin-left: $width-menu_big;
        }

    @media screen and (max-width: $width-small) {
        margin-left: 0;
        padding: (15px + $width-menu) 20px 15px;
        }
    }
