@font-face {
	font-family: 'Oriya_MN';
	src: url('/assets/OriyaMN/Oriya_MN.eot');
	src: local('Oriya MN'), url('/assets/OriyaMN/Oriya_MN.woff') format('woff'), url('/assets/OriyaMN/Oriya_MN.ttf') format('truetype'), url('/assets/OriyaMN/Oriya_MN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
