.html, .page {
	height: 100%;
	}

.page {
	min-width: $width-step-5;
	}

.inner {
	max-width: $width-max;
	margin: auto;
	}

.main {
	margin-right: $width-sidebar;

	@media (max-width: $width-step-4) {
		margin-right: 0;
		}
	}

.content {
	padding-top: $header-height;
	position: relative;
	z-index: 100;

	@media (max-width: $width-step-5) {
		padding-top: 0;
		}
	}
