.html, .page {
	height: 100%;
	}

.page {
	min-width: $width-step-5;
	}

.inner {
	max-width: $width-max;
	margin: auto;
	}

.main {}

.content {
	top: $header-height;
	position: relative;
	z-index: 100;
	}
