@import '../_merge';

.info {
    background-color: rgba(#fff, .05);
    box-shadow: inset 1px 0 0 rgba(#fff, .06);
    }

.info_brown {
    background-color: $color-brown_light;
    }

    .title-info {
        text-align: center;
        color: #3b362e;
        text-shadow: 0 1px 0 #b19c80;
        font-family: $font-oriya;
        font-size: 24px;
        font-weight: normal;
        font-family: $font-meta;
        }

    .title_main-info {
        @extend .title-info;

        height: 77px;
        top: 0;
        left: 0;
        position: relative;

        line-height: 55px;

        &:before {
            @include pseudo;

            width: 320px;
            height: 77px;
            top: 0;
            left: 0;
            position: absolute;
            background-image: asset-url('info-title-bg.svg');
            background-size: 331px;
            background-position: 50% -3px;
            }

        &:after {
            @include pseudo;

            width: 320px;
            height: 77px;
            top: 0;
            left: 0;
            position: absolute;
            background-image: asset-url('info-title.svg');
            background-size: 331px;
            background-position: 50% -3px;
            }
        }

        .txt-title_main-info {
            position: relative;
            z-index: 200;
            }

    .info_user {
        margin-top: -30px;
        }

        .avatar-info_user {
            width: 100%;
            margin: auto;
            }

            .img-avatar-info_user {
                width: 100%;
                display: block;
                }

        .createPublic-info_user {
            margin: 30px 20px 20px;
            }

            .link-createPublic-info_user {
                @extend .btn_blue;

                width: 100%;
                padding: 10px;

                box-sizing: border-box;

                text-decoration: none;
                text-align: center;
                font-family: $font-meta;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                }

        .links-info_user {
            margin: 30px 20px 20px;
            }

            .title-links-info_user {
                margin-bottom: 10px;

                font-size: 16px;
                line-height: 20px;
                font-family: $font-meta;
                color: $color-brown;
                }

                .link-links-info_user {
                    color: #444;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: $font-meta;
                    }
