// Dimensions
    $width: 1400px;
    $width-step: 830px;
    $width-small: 450px;

    $width-menu: 70px;
    $width-menu_big: 200px;
    $width-item: 280px;

    $margin_h-item: 50px;
    $margin_v-item: 30px;

    $p-darken: 10%;

// Fonts
    $font-default: sans-serif;
    $font-main: 'PT Sans', $font-default;

    $fonts-middle: 16px;

// Colors
    $color-blue: #2c6bec;

    $color-turquoise: #1abc9c;
    $color-greensea: #16a085;

    $color-emerald: #2ecc71;
    $color-nephritis: #27ae60;

    $color-peterriver: #3498db;
    $color-belizehole: #2980b9;

    $color-amethyst: #9b59b6;
    $color-wisteria: #8e44ad;

    $color-wetasphalt: #34495e;
    $color-midnightblue: #2c3e50;

    $color-sunflower: #f1c40f;
    $color-orange: #f39c12;

    $color-carrot: #e67e22;
    $color-pumpkin: #d35400;

    $color-alizarin: #e74c3c;
    $color-pomegranate: #c0392b;

    $color-clouds: #ecf0f1;
    $color-silver: #bdc3c7;

    $color-concrete: #95a5a6;
    $color-asbestos: #7f8c8d;
