@import '../_merge';

.warning {
    line-height: 1.3em;
    font-family: $font-meta;
    }

    .warning_emptytests {
        @extend .warning;

        padding: 100px 50px;

        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        text-shadow: 0 1px 0 #000;
        }

    .warning_form {
        @extend .warning;

        padding: 20px;
        margin-bottom: 20px;

        border-radius: 5px;
        background-color: $color-red;

        color: #fff;
        }
